<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/cloudhero.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700&display=swap" rel="stylesheet">
</head>

<body>
     <section id="responsivetitle">
        {{#each trainers}}
          <h1> {{this.name}}</h1>
        {{/each}}
        
        {{#each teams}}
          <h1> {{this.name}}</h1>
        {{/each}}
        
        <h1>TEST ARRAY</h1>
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
    </section>

    <section id="header">
             <div class="containerheader">
                <img src="/img/headercloudlogo.gif" class="responsive" alt="Logo">
            </div>
    </section>

     <section id="showcase">
    
            <div class ="container1" >
                
                <div class="box1">
                {{!-- <button class= "button">Play Now</button> --}}
                {{!-- <a href="{{url}}"><input type="button" class="button" value="Play Now" />{{url}}</a> --}}
                <div class="my_content_container">
                    <a href="{{url}}">Play Now</a>
                </div>
                <p class="sctext">Use code <strong>{{code}} </strong>to join</p>
                <img  class= "image" src= "/img/play.png"  role="img" class="responsive"/>
                <p class="sctext"> Join the challenge and race to finish a series of tasks using Google Cloud.</p>
                </div>
            </div>

            <div class ="container1" >
                <div class="box1">
                    <div class="my_content_container">
                         <a href="{{url}}">Leaderboard</a>
                    </div>
                {{!-- <button class= "button">Leaderboard</button> --}}
                <p class="sctext">See where you rank</p>
                <img class="image" src= "/img/leaderboard.png"  role="img" class="responsive"/>
                <p class="sctext"> Earn points by completing each of the lab objectives as fast as you can. Speedrun! Good luck!</p>
                </div>
            </div>

            <div class ="container1" >
                <div class="box1">
                {{!-- <button class= "button">Help</button> --}}
                <div class="my_content_container">
                    <a href="{{urlhelp}}">Help</a>
                </div>
                <p class="sctext">We are here to assist</p>
                <img class="image" src= "/img/assist.png"  role="img" class="responsive"/>
                <p class="sctext">Not sure how to start? Qwiklabs support is open 24/7/365. </p>
                </div>
            </div>

        </section>

        <section id="info">
            <div class ="container2" >
                 <div class="box2">
                    <h2>What is Cloud Hero?</h2>
                    <p class="main">
Test your knowledge of Google Cloud Platform (GCP) in a game where you will compete against other developers by using your Google Cloud skills. In Classic Challenge, you will be  challenged to build an end-to-end application deployment experience using multiple GCP services.</p>
                <h2>Ready to compete? Here’s how</h2>
                <ol>
                    <li>Click Play Now and use the access code provided to enter a game</li>
                    <li>Game on! Join the challenge and play up to five times. We’ll take your highest score. </li>
                </ol>
                <p class="main">
All Cloud Hero participants will receive a prize, with gold, silver, and bronze-level prizes awarded to the top three hackathon finishers. Your score will be displayed on the global leaderboard and your performance will be recognized within your organization.</p>
                
                </div>
            </div>

            <div class ="container2" >
                <div class="box2">
                    <img src= "/img/classic.png"  role="img" class="responsive"/>
                </div>
            </div>
</section>

 <section id="howtoplay">
            <div class="container3">
                <div class="box3">
                    <h2>How to play</h2>
                    <ul>
                        <li>Earn points by completing each of the lab objectives as fast as you can. Speedrun! Good luck! </li>
                        <li>See where you rank in the game leaderboard and play up to 5 times to get your best score. </li>
                        <li>Need help? Any questions? We are here to assist. Qwiklabs support speaks 5 languages and is open 24/7/365.</li>
                    </ul>

                </div>
            </div>
        </section>

         <section id="terms">
        <div class="container4">
            <div class="box4">
                <h2>Cloud Hero Classic Challenge - Terms & Conditions</h2>
                <p class="termstext">The Cloud Hero Classic Challenge is a DevOps gaming experience on Qwiklabs, a Google Cloud training platform. By participating in the game, you’ll join an online challenge where you will race to finish a series of cloud-based tasks using Google Cloud. The game will be opened at 6 February 2020 at 12:01 AM SGT and will close on 7 February 2020 at 11:59 PM SGT.  All participants will get a digital badge for playing the game and will receive 50 free Qwiklabs credits. <br>

Entry is limited per Qwiklabs account. The game consists of four labs that can each be played up to five times during the activation window. You may only submit one entry into the challenge and the prizes are limited to one per person. <br>

All determinations of eligibility will be made at Google’s sole and absolute discretion. Google reserves the right to verify eligibility and to adjudicate on any related dispute at any time. No correspondence will be entered into. <br>

Please ensure that accepting this offer complies with your organization’s own Code of Conduct. Government employees may not enter. Winners will be notified by email within two weeks after the event. Please see Google's privacy policy at https://policies.google.com/privacy. <br>

By playing the online Cloud Hero game on Qwiklabs platform, you're accepting the terms and conditions for Qwiklabs and Cloud Hero above.</p>
            </div>
        </div>

     </section>

<script src="/scripts/app.js"></script>
<script></script>
    
</body>
</html>
